{% load static %}

<!DOCTYPE html>
<html>
<!-- file: add_attachment.html -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
{#        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>#}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static "css/bcoadmin.css" %}" rel="stylesheet" />
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">#}
    {% block extra_head_content %}{% endblock %}
    </head>
    <body>
{#        {{ request.session.month }}#}


    <div class="wrapper">



        <!-- Dropdown Structure -->

    <ul id="dropdown-months" class="dropdown-content">
    {% if mymonths %}
      {% for m in mymonths %}
          <li><a class="waves-effect waves-blue" href="{{ m|date:"/Y/m/" }}">{{ m|date:"F" }}</a></li>
      {% endfor %}
    {% endif %}
    </ul>

    <nav class="nav-extended  teal lighten-2">
    <div class="nav-wrapper">
          <a href="#" data-activates="slide-out" class="button-collapse  show-on-large"><i class="material-icons">date_range</i></a>
      <a href="/" class="brand-logo">Mis Cuentas</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/balance">Balance</a></li>
        <li><a href="/tarjetas">Tarjetas</a></li>
        <li><a href="/categorias">Categorias</a></li>
        <!-- Dropdown Trigger -->
{#        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">2017<i class="material-icons right">arrow_drop_down</i></a></li>#}
        <li><a class="btn-floating btn-large waves-effect teal" href="/upload">
        <i class="material-icons">add</i></a></li>

      </ul>
    </div>
{#    <div class="nav-content">#}
{#      <ul class="tabs tabs-transparent">#}
{#        <li class="tab"><a href="#test1">2016</a></li>#}
{#        <li class="tab"><a href="#test4">2017</a></li>#}
{#      </ul>#}
{##}
{#    </div>#}
    {% if mymonths %}
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
              {% for m in mymonths %}
                  {% if month|date:"m" == m|date:"m" %}
                      <li class="tab col s2"><a class="active" target="_self" href="{{ m|date:"/Y/m/" }}">{{ m|date:"F" }}</a></li>
                  {% else %}
                      <li class="tab col s2"><a target="_self" href="{{ m|date:"/Y/m/" }}">{{ m|date:"F" }}</a></li>
                  {% endif %}
              {% endfor %}

          </ul>

        </div>
    {% endif %}
  </nav>
    <div class="content">
	            <div class="container">
                    {% block content %}

                    {% endblock %}

	            </div>
	        </div>
    </div>




    <script>
    $(document).ready(function(){
        $(".dropdown-button").dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        });
    });


  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

    </script>
    </body>
</html>