{% extends 'movimientos/base.html' %}

{% load staticfiles %}
{% load humanize %}
{% block title %}Balance{% endblock %}

{% block content %}

<h3>Tarjetas</h3>

     <table class="highlight">
        <thead>
          <tr>
              <th>Mes</th>
              {% for d, v in tarjetas|slice:":1" %}
                {% for dd, vv in v.items %}
                    <th>{{ dd|title }}</th>
                {% endfor %}
                <th>Detalle</th>
              {% endfor %}

          </tr>
        </thead>
    <tbody>

        {% for d, v in tarjetas %}
            <tr>
        <td>{{ d|date:"F 'y" }}</td>
            {% for dd, vv in v.items %}
                <td>{{ vv|intcomma }}</td>
            {% endfor %}
            <td><a class="btn-floating" href="{{ d|date:"/Y/m/" }}"><i class="material-icons">blur_linear</i></a></td>
            </tr>
        {% endfor %}

        </tbody>
     </table>

{% endblock %}
